@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

body {
  font-family: "Libre Franklin", sans-serif;
  color: var(--gray);
  font-weight: 300;
}

header {
  display: flex;
  height: 1.375rem;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.6875rem;
  font-weight: 300;
  margin-top: 2rem;
}

span {
  color: var(--very-dark-blue);
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
  color: hsla(209, 33%, 12%, 0.6);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

input {
  border: 0.0625rem solid var(--pale-blue);
  border-radius: 6.25rem;
  padding: 1.125rem 2rem;
  width: 25rem;
}

small {
  font-size: 0.75rem;
  font-style: italic;
  color: var(--light-red);
  margin-left: 1rem;
  display: none;
}


::placeholder {
  color: var(--pale-blue);
}

.input-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

button {
  border: none;
  background-color: var(--blue);
  color: white;
  padding: 1.125rem 2rem;
  border-radius: 6.25rem;
  width: 11.25rem;
  font-weight: 600;
  box-shadow: 0.125rem 0.1875rem 0.625rem 0.375rem hsla(223, 87%, 63%, 0.2);
}

button:hover {
  background-color: hsla(223, 87%, 63%, 0.8);
  cursor: pointer;
  transition: 0.5s;
}

.input-button {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5rem;
}

.social {
  display: inline-flex;
  gap: 1rem;
  height: 1.75rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.fb,
.ig,
.twitter:hover {
  cursor: pointer;
}

p {
  font-size: 12px;
  color: hsla(0, 0%, 59%, 0.7);
  margin-bottom: 1.5rem;
}

footer {
  font-size: 0.625rem;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5.25rem auto;
}

@media only screen and (max-width: 610px) {
  main {
    width: 90vw;
    margin-top: 7.5rem;
  }

  h1 {
    font-size: 1.875rem;
    margin-top: 1.5rem;
  }

  .input-email {
    align-items: center;
  }

  .input-button {
    flex-direction: column;
  }

  button {
    width: 100%;
  }

  img {
    width: 100%;
    margin-bottom: 6.25rem;
  }
}
